SECRET_KEY=...
DEBUG=...
BACKEND_PORT=...
ACCESS_TOKEN_LIFETIME=...
REFRESH_TOKEN_LIFETIME=...

# DATABASE CONFIGURATIONS
DATABASE_USER=...
DATABASE_PASSWORD=...
DATABASE_NAME=...

# PGADMIN SETTINGS
PGADMIN_EMAIL=...
PGADMIN_PASSWORD=...

#FRONTEND
RESET_PASSWORD_URL=...

# EMAIL CONFIGURATIONS
EMAIL_HOST=...
EMAIL_PORT=...
EMAIL_USE_TLS=...
EMAIL_USE_SSL=...
EMAIL_HOST_USER=...
EMAIL_HOST_PASSWORD=...